# app environment
APP_ENV=development

# server
SERVER_HOST=localhost
SERVER_PORT=8080

# web server
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# database
PG_DATABASE_URL=postgres://planora:planora@localhost:5432/planora

# auth
JWT_SECRET=your_secret_key
JWT_ACCESS_EXPIRY_MINUTES=15
JWT_REFRESH_EXPIRY_DAYS=15

# s3
AWS_S3_ENDPOINT=http://localhost:9000
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
AWS_SESSION_TOKEN=secret_session_token
AWS_REGION=us-west-2

# telemetry
TELEMETRY_LOGS_EXPORTER=http://127.0.0.1:3100
