@import "@planora/design-system/globals";
@import "tw-animate-css";

@theme {
    --font-sans:
        var(--font-sans), system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    --font-heading: var(--font-heading), var(--font-sans);
    --font-mono: var(--font-mono), ui-monospace, SFMono-Regular, Menlo, monospace;
}

@source "../../../../packages/ui/src/**/*.{js,ts,jsx,tsx,mdx}";
