@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
    /* colors */
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    /* branding colors */
    --color-brand-400: oklch(0.75 0.17 195);
    --color-brand-500: oklch(76.6% 0.16 195);
    --color-brand-600: oklch(78.8% 0.16 195);
    --color-brand-secondary: oklch(0.7 0.16 240);
    --color-brand-tertiary: oklch(0.68 0.18 265);
    --color-brand-accent: oklch(0.66 0.2 290);
    --color-branding-ring: var(--brand-primary);
    --color-branding-info: var(--brand-secondary);
    --color-branding-highlight: var(--brand-tertiary);
    --color-branding-special: var(--brand-accent);
    --color-brand-graphite-900: oklch(0.12 0.01 255);
    --color-brand-graphite-800: oklch(0.16 0.01 255);
    --color-brand-graphite-700: oklch(0.22 0.01 255);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    /* shadcn components */
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    /* radius */
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

@import "./themes/light.css";
@import "./themes/dark.css";

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
}
